{% extends 'base.html'%}
{% load static%}
{% block content%}

    <img class="image" src="{% static 'images/blog.jpg' %}" alt="My image">
    <div class="container mt-4">
        <h4 class="">Learn more About Us.</h4>
        <div class=" card center ">
            <p id="text"> Learn more about us. <br>
                <!-- Here you will find various posts concerning web developer and probably mental health -->
                </p>
        </div>
    <p>This is an awesome blog made with my Favourite full stack Framework 'Django'. 
        It will enable me to post various details about the web development materials and practices.
        The main aim for this blog is to inspire and empower other upcoming developers. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat vitae expedita quo, perspiciatis tempore suscipit. Fuga,
         quisquam, adipisci soluta aut eum sunt quae quis similique sint praesentium laboriosam? Libero, excepturi! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus saepe neque magni numquam cum commodi adipisci porro esse, 
         consequuntur odit est, nostrum optio ducimus. Reiciendis commodi doloribus cum nam id.</p>
</div>
{% endblock%}