{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">  
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>Base</title>
</head>
<body>
    {% include 'navbar.html'%}

    {% block content%}
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
   
    {% endblock%}

    <footer style="background-color: black; " class="py-3 bg-grey">
        <p class="m-0 text-light text-center ">Copyright &copy; Faith</p>
    </footer>
    <script>

        
var text = document.getElementById('text');
        var newDom = '';
        var animationDelay = 6;

        for(let i = 0; i < text.innerText.length; i++)
        {
            newDom += '<span class="char">' + (text.innerText[i] == ' ' ? '&nbsp;' : text.innerText[i])+ '</span>';
        }

        text.innerHTML = newDom;
        var length = text.children.length;

        for(let i = 0; i < length; i++)
        {
            text.children[i].style['animation-delay'] = animationDelay * i + 'ms';
        }
        // Activate Carousel
$('.carousel').carousel()

$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})



    </script>
</body>
</html>